* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    row-gap: 100px;
}

.context {
    width: 80%;
    height: fit-content;
}

.row {
    height: 300px;
    top: 50px;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;

}

.typewriter-background {
    position: relative;
}

@media all and (min-width: 600px) {
    .row {
        flex: 1 0 0;
        height: 400px;
    }
}

@media all and (min-width: 800px) {
    .typewriter-background {
        order: 1;
    }

    .picture-background {
        order: 2;
    }
    
}
