.App {
  text-align: center;
  position: relative;

  width: 100wh;
  height: 100%;
  color: #F8F8FF;
  background: linear-gradient(-45deg, #00001a, #000000, #000000, #001a1a);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

* {
  box-sizing: border-box;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}







.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}


.sidebar {
  padding: 20px;
  transition: 0.4s ease-in;
  position: fixed;
  height: 100vh;
  max-width: 25px;
  background-color: #3A4A40;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-closed {
  min-width: 30px;
  background: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}

@media screen and (max-width: 790px) {

  .sidebar {
    max-width: 250px;
  }
}